@using System.Diagnostics
@using System.Drawing
@using TicTacToe.Models
@using TicTacToe.Models.ConstantModels
@using TicTacToe.Services
@inject JsStylingFunctions JS
@inject GameConstants GameConstants
@inject GameStateService StateService

<div class="tile-container" style="grid-row: @RepresentingBoardTile.TilePosition.X; grid-column: @RepresentingBoardTile.TilePosition.Y;" id="@_tileElementId" @onclick="OnTileClicked">
    
    @if (!RepresentingBoardTile.Claimed)
    {
        <object data="@(GameConstants.SvgPaths.BlankTile)" type="image/svg+xml" class="board-tile" id="@_tileSvgId" style="pointer-events: none"></object>
    }
    else
    {
        <object data="@(GameConstants.SvgPaths.GetPathFor(RepresentingBoardTile.ClaimedBy!))" type="image/svg+xml" class="board-tile" id="@_tileSvgId" style="pointer-events: none"></object>
    }
</div>

@code {
    [Parameter] public required BoardTile RepresentingBoardTile { get; set; }
    private string _tileElementId { get; set; }
    private string _tileSvgId;

    //True if the svg has been updated but not yet rendered
    private bool _svgUpdated = false;
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _tileElementId = $"{RepresentingBoardTile.TilePosition.Y}-{RepresentingBoardTile.TilePosition.X}";
        _tileSvgId = $"{_tileElementId}-svg";
        StateService.State!.OnRestart += OnGameRestart;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        /*
         * If this is the first render, or if the render will be updating the svg, register the svg
         * with js to be styled appropriately.
         */
        if (firstRender || _svgUpdated)
        {
            await JS.RegisterSvgTile(_tileSvgId);
            _svgUpdated = false;
        }
    }

    private void OnTileClicked()
    {
        var claimingPlayer = StateService.State!.RegisterTurn();
        RepresentingBoardTile.ClaimTile(claimingPlayer);
        _svgUpdated = true;
    }

    private void OnGameRestart()
    {
        // JS.ApplyGradientToLoaded(_tileSvgId);
        _svgUpdated = true;
    }
}